@use 'functions' as *;

@mixin fluid-text($max: 32, $min: 18) {
  font-size: fluid($max, $min);
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}