.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-block: fluid-to-laptop(44, 24);
  color: var(--color-text-muted);
  border-top: 1px solid var(--color-border);
}

@include tablet-above {
  .site-footer {
    margin-top: 20px;
  }
}

.site-footer__copy {
  white-space: nowrap;
}

@include mobile {
  .site-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
